div {
  width: 25%;
  height: 25%;
  margin: auto;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  color: lightblue;
  background-color: tomato;
}
.div1 {
  text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 0px -1px #000,-1px 0px #000;
}

.div2 {
  text-shadow: 1px 1px #FF6347,
 1px 1px #ff330f,
 2px 2px #ff2f0a,
 3px 3px #ff2b05,
 4px 4px #ff2700,
 5px 5px #fa2600,
 6px 6px #f42500,
 7px 7px #ef2400,
 8px 8px #ea2400,
 9px 9px #e52300,
 10px 10px #e02200,
 11px 11px #db2100,
 12px 12px #d62100,
 13px 13px #d12000,
 14px 14px #cc1f00,
 15px 15px #c71e00,
 16px 16px #c11d00,
 17px 17px #bc1d00,
 18px 18px #b71c00,
 19px 19px #b21b00,
 20px 20px #ad1a00;
}
