/* Fuentes de Google */
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700');
@verde:#0CABA6;
@verdeClaro:#5AA19E;
@verdeOscuro:#08726E;
@verdeMor:#07CB79;
@azul:#00A3D0;
@azulClaro:#1ABEE4;
@azulOscuro:#3F3364;
@azulOscuro2:#2F3742;
@rojo:#FF5850;
@gris:#5E5E5E;
body{
    font-family: 'Miriam Libre', sans-serif;
    overflow-x: hidden;
    background-image: linear-gradient(@verde, @verdeOscuro);
}
div{
  border: 1px black solid;
}
#loading{
    width:100%;
    height: 100%;
    vertical-align: middle;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: black;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999;
    text-align: center;
}
#loading img{
   width: 500px;
   height: 500px;
}
.barralateral{
    position:absolute;
    /*background-color: @verde;*/
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 40px;
    padding-left:20px;
    padding-right: 20px;
    min-height: 100%;
    border:1px solid black;
}
#barnav{
    position: relative;
    left:-200px;
    margin-left:0px;
    padding-left:0px;
    margin-top: 35px;
   
}
#barnav li{
  padding: 2px;
  margin-bottom: 5px;
}
.main{
  padding: 0;
}
#inicio{
  position: relative;
  height:100vh;
}
.enlaces-menu{
    color: white;
    font-size: 1.1em;
    width: 100%;
    box-shadow: 5px 0px rgba(94,94,94,1.0) inset;
    padding-left:0.8em;
    margin-bottom: 0.7px;
    transition: all 1.5s ease-out;
     &:hover{
      box-shadow:300px 0px rgba(255,255,255,0.5) inset;
    }
   
}
#div-foto{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#foto{
  box-shadow: 4px 2px 5px;
}
section{
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  width: 100%;
}
footer{
    background-color: coral;
    height: 10%;
    position: fixed;
}
#carrusel-inicio{
  border: solid 1px;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  display: flex;
  justify-content:center;
}
.divs-carrusel{
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
}
.carrusel1{
  background-image: url('imagenes/1.jpg');
}
.carrusel2{
  background-image: url('imagenes/4.jpg');
}
.carrusel3{
  background-image: url('imagenes/5.jpg');
}
#div-hola{
  z-index: 9999;
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 75%;
  height: 60%;
  border: solid 1px;
  margin-top:15%;
  color: @azul;
  font-weight:bold;
  -webkit-text-stroke: 1px black;
  font-size: 2em;
}
#div-hola h1{
  font-size: 60px;
}
#div-hola .descarga{
  text-align: center;
  margin-top: 5%;
  -webkit-text-stroke: 0px;
  color: white;
}
.btn-descarga:hover{
  background-color: @azulOscuro2;
  border-color: white;
  color: white;
}
.btn-descarga i{
  font-size: 28px;
}
#div-type{
  font-size: 38px;
  color: white;
}
/*------------estilos seccion "Sobre Mi---------------*/
.cabeza-section{
  width: 100%;
  height: 50px;
  background-color: white;
  border-bottom:@azulOscuro solid 2px;
}
.titulo-section{
  position: relative;
  top:-20px;
  width: 35%;
  height: 50px;
  background-color: white;
  border: 3px solid @verde;
  display: inline-block;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.div-foto-sobremi{
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-foto-sobremi img{
  width: 100%;
  height: auto;
  border: 3px solid @azul;
  padding: 0.2em;
}
.info-bloque{
  display:flex;
  align-items: center;
}
.info-icon{
  display:flex;
  align-items: center;
  margin: 1.0em;
  font-size: 2.5em;
  padding: 12px;
  border: 4px solid @verdeOscuro;
  background-color: white;
  box-shadow:0 0 0 4px @azulClaro inset;
  transition: all 0.5s ease-in;
  &:hover{
    box-shadow:0 0 0 4px @verdeOscuro inset;
    border: 4px solid @azulClaro;
    border-radius: 50%;
  }
  &.rojo{
    color: @rojo;
  }
  &.rojo:hover{
    background-color: @rojo;
    color: white;
  }
  &.azul{
    color:@azul;
  }
  &.azul:hover{
    background-color: @azul;
    color: white; 
  }
  &.verde{
    color:@verdeMor; 
  }
  &.verde:hover{
    background-color: @verdeMor;
    color: white; 
  }
  &.azuloscuro{
    color:@azulOscuro2;
  }
  &.azuloscuro:hover{
    background-color: @azulOscuro2;
    color: white; 
  }
}
.whatsapp{
  font-size: 46px;
}
.calendario{
  font-size: 46px;
}
.domicilio{
  font-size: 44px;
  padding-left:0.37em;
  padding-right: 0.37em;
  margin:0.9em;
}
.info-text{
  position: relative;
  left: -25px;
  height: auto;
}
.info-head-text{
  font-weight:bold;
}
/*------------Estilos seccion Habilidades---------------*/
/*Bloque donde está cada barra de progreso con efecto de sombra para textos*/
.bloque-barra{
  padding-top: 1.8em;
  padding-bottom: 1.7em;
  padding-left:  1.0em;
  padding-right: 1.0em;
  font-size: 1.2em;
  transition: all 0.8s ease-in;
  &:hover{
    text-shadow:1px 1px #666, 2px 2px #86D6D3, 3px 3px #666, 4px 4px #86D6D3;
  }
}
/*Sombras para las barras*/ 
.progress{
  transition: all 0.5s ease-in;
}
.progress-hover{
  box-shadow: 0px 0px 10px 5px lightblue;
}
/*Colores para las diferentes columnas de barras de progreso*/
.barra-verde{
  background-color:@verde;
}
.barra-azul{
  background-color:@azul;
}
.barra-rojo{
  background-color:@rojo;
}
.wow{
     visibility: hidden;
}
/*Tooltips de Porcentajes*/
.porcentaje {
  font-size: 0.7em;
  position: absolute;
  top: 10%;
  right:2%;
  width: 37px;
  height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}
.porcentaje::after {
  position: absolute;
  bottom: -6px;
  left: 15px;
  content: '';
  border-top: 6px solid #000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.tooltip-verde{  
  background: @verde none repeat scroll 0 0;
}
.tooltip-rojo{
  background: @rojo none repeat scroll 0 0;
}
.tooltip-azul{
  background: @azul none repeat scroll 0 0;
}
.tool90{
  right: 10%;
}
.tool85{
  right: 14%;
}
.tool80{
  right: 18%;
}
.tool75{
  right: 22%;
}
.tool70{
  right: 27%;
}
.tool60{
  right: 35%;
}
.tool40{
  right: 52%;
}
.subtitulo{
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;

}
/*---------- SECCIÓN IDIOMAS--------*/
.idiomas{
  margin-top: 1.2em;
  font-size: 1.2em;
}
.texto-idiomas{
  margin: 1.2em;
}
/*----Bandera de Gran Bretaña-----*/
.GB{
  z-index: 10;
  width: 200px;
  height: 150px;
  position: absolute;
  top: 0;
  border:1px solid black;
  background-image:linear-gradient(transparent 40%,
                        white 40%,
                        white 45%,
                        red 45%,
                        red 55%,
                        white 55%,
                        white 60%,
                        transparent 60%,
                        transparent 100%);
  transition: all 1.5s;
  &:hover{
    box-shadow:0px -75px rgba(94,94,94,0.9) inset;
  }
}
.cruza1{
  position: absolute;
  width:200px;
  height:150px;
  top: 0;
  z-index:9;
  background-image:linear-gradient(to bottom right,
                        transparent 45%,
                        white 45%,
                        white 47%,
                        red 47%,
                        red 53%,
                        white 53%,
                        white 55%,
                        transparent 55%,
                        transparent 100%);
}
.cruza2{
  position: absolute;
  width:200px;
  height:150px;
  top: 0;
  z-index:8;
  background-image:linear-gradient(to bottom left,
                        transparent 45%,
                        white 45%,
                        white 47%,
                        red 47%,
                        red 53%,
                        white 53%,
                        white 55%,
                        transparent 55%,
                        transparent 100%);
}
.fondoGB{
  position: relative;
  width: 200px;
  height: 150px;
  z-index: 0;
  background-image:linear-gradient(to right,
                        blue 42%,
                        white 42%,
                        white 46%,
                        red 46%,
                        red 54%,
                        white 54%,
                        white 58%,
                        blue 58%,
                        blue 100%);
}
/*------Bandera de Francia--------*/
.francia{
  position:absolute;
  top: 0;
  width: 200px;
  height: 150px;
  border:1px solid black;
  z-index: 10;
  background-image: linear-gradient(to right,
                          transparent 33.33%,
                          white 33.33%,
                          white 66.66%,
                          transparent 66.66%,
                          transparent 100%);
  transition: all 1.5s;
  &:hover{
    box-shadow:0px -45px rgba(94,94,94,0.9) inset;
  }
}
.francia_azul{
  position: absolute;
  top: 0;
  width: 200px;
  height: 150px;
  z-index: 5;
  background-image: linear-gradient(to right,
                          blue 33.33%,
                          transparent 33.33%,
                          transparent 100%);
}
.francia_fondo{
  position: relative;
  width:200px;
  height:150px;
  z-index: 0;
  background-image:linear-gradient(to left,
                              red 33.33%,
                              transparent 33.33%,
                              transparent 100%);
}
/*------------------SECCIÓN DE FORMACIÓN---------------*/
.barra-estudios{
  width: 10px;
  height: 650px;
  left: 50%;
  background-color: lightgrey;
  border:1px black solid;
  border-bottom: none;
  border-radius: 10px;
}
.tarjeta-izquierda(@top,@color){  
   position: absolute;
   right: 52%;
   top:@top;
   padding: 10px;
   border:1px solid @azulOscuro2;
   width: 45%;
   min-height: 80px;
   height: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   background-image:linear-gradient(@color 45%,
                                 #fff 55%,
                                 #fff 100%);
  &:before{
  content:"";
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10px;
  transform: rotate(45deg);
  background-image: linear-gradient(to bottom left,
                                @color 50%,
                                transparent 50%,
                                transparent 100%);
  }
  &:after{
    content:"";
    width: 45Px;
    height: 20px;
    position: absolute;
    top: 15px;
    right:-55px;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
}
.tarjeta-derecha(@top,@color){  
   position: absolute;
   left: 52%;
   top:@top;
   z-index: 10;
   padding: 10px;
   border:1px solid @azulOscuro2;
   width: 45%;
   min-height: 80px;
   height: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   background-image:linear-gradient(@color 45%,
                                 #fff 55%,
                                 #fff 100%);
  &:before{
  content:"";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -10px;
  transform: rotate(-135deg);
  background-image: linear-gradient(to bottom left,
                                @color 50%,
                                transparent 50%,
                                transparent 100%);
  }
  &:after{
    content:"";
    width: 45Px;
    height: 20px;
    position: absolute;
    top: 15px;
    left:-60px;
    font-weight: bold;
    text-align: center;
    background-color: white;
  }
}

.estudios1{
  .tarjeta-izquierda(10%,@verde);
  &:after{
    content:"2001-2003";
  }
}
.estudios2{
  .tarjeta-derecha(27%,@azul);
   &:after{
    content:"2004";
  }
}
.estudios3{
  .tarjeta-izquierda(44%,@verde);
   &:after{
    content:"2005";
  }
}
.estudios4{
  .tarjeta-derecha(61%,@azul);
   &:after{
    content:"2006";
  }
}
.estudios5{
  .tarjeta-izquierda(78%,@verde);
   &:after{
    content:"2018";
  }
}
/*---------SECCIÓN EXPERIENCIA---------*/
.barra-experiencia{
  width: 10px;
  height: 450px;
  left: 50%;
  background-color: lightgrey;
  border:1px black solid;
  border-bottom: none;
  border-radius: 10px;
}
.experiencia1{
  .tarjeta-izquierda(10%,@verde);
   &:after{
    content:"2003";
  }
}
.experiencia2{
  .tarjeta-derecha(40%,@azul);
   &:after{
    content:"2006";
  }
}
.experiencia3{
  .tarjeta-izquierda(70%,@verde);
   &:after{
    content:"2007-2018";
  }
}
/*--------Sección Aptitudes------*/
.aptitud{
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:1.0em;
  font-size: 2.5em;
}
.aptitud1{
   border: 4px solid @verde;
   color: @azulOscuro;
}

/*MEDIA QUERIES */
@media(max-width: 768px){
  div[class^='estudios'], div[class^='experiencia']{
    left: 0;
    right: 0; 
    margin: auto;
    width: 85%;
    &:before{
      display:none;
    }
    &:after{
      top:-25px;
      left: 50%;
      transform: translate(-50%);
    }
  }
  .barra-estudios{
    height: 750px;
  }
}

@media (max-width: 576px){
  .barralateral{
    position: relative;
    padding-top: 5px;
    height: 100vh;
  }
}







