@function sombraTexto($pixels, $color){
	$sombra: 1px 1px #{$color};
	@for $i from 1 through $pixels{
		$sombra:'#{$sombra},#{$i}px #{$i}px #{darken($color,$i+10)}';
	}
	@return unquote($sombra);
}
div{
	width: 25%;
	height: 25%;
	margin: auto;
	border:1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 2.0em;
	font-weight: bold;
	color: lightblue;
	background-color: tomato;
}
.div1{
	text-shadow: 1px 1px #000, -1px -1px #000, 0px 1px #000, 0px -1px #000,-1px 0px #000;
}
.div2{

	text-shadow: sombraTexto(20,#FF6347);
}